.vs
PoetryViewerBack/PoetryViewerBack/obj

src/Autodissmark.API/.vs
src/Autodissmark.API/bin
src/Autodissmark.API/obj

src/Autodissmark.Core/.vs
src/Autodissmark.Core/bin
src/Autodissmark.Core/obj

src/Autodissmark.ExternalServices/.vs
src/Autodissmark.ExternalServices/bin
src/Autodissmark.ExternalServices/obj

src/Autodissmark.Application/.vs
src/Autodissmark.Application/bin
src/Autodissmark.Application/obj
/data
/src/Autodissmark.API/appsettings.json
/src/Autodissmark.API/appsettings.json
/src/Autodissmark.ApplicationDataAccess/bin/Debug/net8.0
/src/Autodissmark.ApplicationDataAccess/obj
/src/Autodissmark.AudioMixer/bin/Debug/net8.0
/src/Autodissmark.AudioMixer/obj
/src/Autodissmark.TextProcessor/bin/Debug/net8.0
/src/Autodissmark.TextProcessor/obj
/src/Autodissmark.TextProcessorDataAccess/bin/Debug/net8.0
/src/Autodissmark.TextProcessorDataAccess/obj
/src/Autodissmark.TGBot/bin/Debug/net8.0
/src/Autodissmark.TGBot/obj
/src/Autodissmark.TGBot/appsettings.json
/src/Autodissmark.Domain/bin/Debug/net8.0
/src/Autodissmark.Domain/obj
/src/Autodissmark.TGBot/data
/src/Autodissmark.TGBot/tgBotSettings.json
/src/Autodissmark.TGBot/Settings/tgBotSettings.json
